<header>
    <div class="container">
        <a routerLink="/" class="logo">FGA</a>
    <nav>
        <ul>
            <li>
                <a router-Link="/login">Login</a>
            </li>
            <li class="menu-container">
              <a routerLink="/dashboard">John</a>
              <div class="menu">
                <a routerLink="/profile">Profile</a>
                <a routerLink="/orders">Orders</a>
                <a>Logout</a>
              </div>
            </li>
            <li>
                <a routerLink="/cart-page"></a>
                Cart <span>3</span>
            </li>
            <li>
                <a routerLink="/subscriptions-page"></a>
                Subscriptions 
            </li>
        </ul>
    </nav>
</div>
</header>