.container{
    display: flex;
    position: relative;
    top: -50px;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    }
    
    .details{
      width: 28rem;
    }
    input{
      background-color: black;
      border:none;
      outline: none;
      color: white;
    }
    
    form{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    .error-list{
      color: red;
    }